/************Do we want a reset here? *****/

body{
    font-size: 62.5%;
}

h1{
    color: rgb(255, 255, 255);
    font-size: 3rem;

}

form {
    /* This bit sets up the horizontal layout */
    display:flex;
    flex-direction:row;
    
    /* This bit draws the box around it */
    /*border:1px solid grey;*/
  
    /* I've used padding so you can see the edges of the elements. */
    padding: 10px;
  }
  
  input {
    /* Tell the input to use all the available space */
    flex-grow:2;
    /* And hide the input's outline, so the form looks like the outline */
    border:none;
  }


.completed{
    text-decoration: line-through;
    color: gray;
}
.not{
    
}

.hidden{
    display: none;
}

span{
    color: aquamarine;
    font-size: xx-large
}

<<<<<<< HEAD
=======

input {
  color: rgb(255, 255, 255);
}

span.date{
    color: aquamarine;
    font-size:small

}
>>>>>>> aa6c36bbe6f2689401a2134ca6e8d70083bed0d2
